@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #a8d5f2;
  z-index: 99;
}

.nav__content {
    
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
  margin-left: 50%;
 
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
  
}

.section__container {
  min-height: 100vh;
    max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: -ms-inline-grid; 
  grid-template-columns:repeat(2,1fr) ;
  grid-gap:4rem; 
  gap: 3rem;
  margin-top: 5rem;
  margin-bottom: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--primary-color-dark);
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  grid-area: 2/2/2/2;
  place-items: center;
  margin-left: 50% ;
  margin-top: -25%;
  
  
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1,1fr);
  }

  .image {
    grid-area: 2/3/-1/-1;
  }

  .action__btns {
    margin: auto;
  }
}
.section__container1{
  width: auto;
  margin: auto;
  padding: 1rem;
  display: inline-flex; 
  grid-template-columns:repeat(2,1fr) ;
  
  gap: 3rem;
  
  margin-top: -20rem;
  margin-left: 10rem;
  
}
.section-text{
  font-weight: 400;
  font-size: 30px;
  margin-top: -2rem;
  
}
.box {
  width: 300px;
  border: 2px ;
  border-color: #9333ea;
  border-style: groove;
  border-radius: 15px 50px;

  padding: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: -170px;
}

.box img {
  width: 100px;
  height: auto;
}
.box1 {
  width: 700px;
  border: 2px ;
  border-color: #9333ea;
  border-style: groove;
  border-radius: 15px 50px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  
}

.box1 img {
  width: 100px;
  height: auto;
}

.skills{
  
  font-weight: 300;
  font-size: 20px;
  margin-left: 10rem;
  margin-top: 4rem;
  margin-bottom: 10rem;
  row-gap: 2rem;

}
.skill-text{
  font-weight: 500;
  font-size: 30px;;
  margin-top: 4rem;
  margin-bottom: 1rem;
  row-gap: 2rem;
  margin-left: 5rem;
  
  

}
.skill-box{
  margin-left: 3rem;
  justify-content: space-between; 
  align-items: center;
  row-gap: 1rem;
  display: block;
  border: 2px;
  border-color: #9333ea;
  border-style:groove ;
  width:300px;
  height: auto;
  border-radius: 15px 50px;
  padding:  10px;
  text-align: center;

}
.skill-box img{
  width: 50px;
  height: auto;
  
}

 .social{
  font-weight: 300;
  font-size: 20px;
  margin-left: 35rem;
  margin-top: 4rem;
  margin-bottom: 10rem;
  row-gap: 2rem;
  
 }
 .card-text{
  display: inline-flex;
  size: 0.5rem;
  width: 600px;
  height: 100px;
  border: 2px ;
  border-color: #9333ea;
  border-style: groove;
  border-radius:50px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  gap:0.5rem;
  margin-top: 40px;
  margin-left: -8rem;
 }
 
